<div class="container-fluid">
	<div class="row" id="firstRow">
	<!--nav stuff -->
	<ul class="nav">
		<li class="nav-item">
	    <a class="nav-link"  id="btn-get-saved-articles" href="/api/getSavedArticles">Show Saved Articles</a>
			{{!-- //data-toggle="modal" data-target="#exampleModal" --}}
	  </li>
	  <li class="nav-item">
	    {{!-- <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Get New Articles</a> --}}
	    <a class="nav-link" data-toggle="modal" data-target="#exampleModal" id="btn-get-new-articles" href="#">Get New Articles</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Date of Last Update: {{returnedDate.date}}</a>
	  </li>
	</ul>
	<!-- end nav -->

	</div>
		<div class="row" id="secondRow">
			<div class="col-sm-12 col-lg-1">  </div>
			<div class="col-sm-12 col-lg-10">
				<img src="/assets/images/cover.png" class="img-fluid">
			</div>
			<div class="col-sm-12 col-lg-1">  </div>
		</div>

		<div class="row" id="thirdRow">
			<div class="col-sm-12 col-lg-1">  </div>
			<div class="col-sm-12 col-lg-10" >

					<div class="alert alert-primary" role="alert" id="new-article" >
						<h2>No New Retrieved Articles yet.<br>
						There are Currently  {{retArticleCount.count}} Saved Articles so far.
						</h2>
					</div>
					
					<div class="alert alert-primary" role="alert" id="saved-article">
						<ol>
							{{#if retArticles}}
								<script>
										$("#new-article").empty();
										$("#new-article").html("<h2>Here are the Saved Articles</h2>");
								</script>
							{{#each retArticles}}
									<li>
												<p> Article: <a href="http://www.economist.com{{link}}" target="new" >{{title}}</a></p>
													    {{!-- <a class="nav-link" data-toggle="modal" data-target="#exampleModal" id="btn-get-new-articles" href="#">Get New Articles</a> --}}
															 <a class="nav-link" data-toggle="modal" data-target="#exampleModal"  id="btn-create-comment" href="#">Create Comment</a>
															 <a class="nav-link"  id="btn-delete-article" href="/api/deleteArticle/{{_id}}">Delete Article</a>
{{!-- 
												<p><input type="button" data-toggle="modal" data-target="#exampleModal" class="createComments" data-src="add" data-id={{_id}} value="Create Comment"></input>
												   <input type="button" data-toggle="modal" data-target="#exampleModal" class="deleteArticle"  data-src="del" data-id={{_id}} value="Delete Article"></input></p> --}}
									</li>
							{{/each}}
							{{/if}}
						</ol>			
					</div>
			</div>
			<div class="col-sm-12 col-lg-1"> 

			</div>
			
		</div>

</div>
</div>

<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Links from The Economist to Read Now or Save for Later</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div id="article-values">
					Getting Articles, please be patient..padawan!
				</div>
				<div id="show-comment-area" style="overflow: scroll;overflow-x: hidden;">
				</div>
				<hr>
				<div id="add-comment-area">
				</div>    
			</div>
			<div class="modal-buttons">
      </div>
      {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> --}}
    </div>
  </div>
	<!-- end modal --> 